<h1 class="text-2xl font-bold mb-4">Explore Feed</h1>
<div class="flex gap-3 mb-3">
  <button
    *ngFor="let view of views"
    (click)="currentView.set(view.id)"
    [ngClass]="{
      'bg-black text-white': currentView() === view.id,
    }"
    class="flex items-center gap-1 px-3 py-1.5 rounded-2xl border text-sm font-medium transition-colors hover:bg-black hover:text-white whitespace-nowrap"
  >
    <span class="material-symbols-outlined fill-1 text-sm">home</span>
    <span>{{ view.name }}</span>
  </button>
</div>
<div class="columns-1 sm:columns-2 xl:columns-3 gap-6 space-y-6 pb-12">
  @for (post of posts(); track post.id; let i = $index) {
    <div
      [routerLink]="['feed/detail', post.id]"
      class="cursor-pointer break-inside-avoid bg-white rounded-xl shadow-sm border border-slate-100 overflow-hidden"
    >
      <div class="relative">
        <div
          class="w-full bg-cover bg-center"
          [ngClass]="getHeightByIndex(i)"
          [style.background-image]="'url(' + (post?.photos?.[0]?.url || defaultImage) + ')'"
        ></div>

        <span
          class="absolute top-3 left-3 px-3 py-1 bg-white/90 rounded-lg text-xs font-bold text-primary shadow-sm"
          >{{ post.categories[0].name }}</span
        >
      </div>
      <div class="p-5">
        <h3 class="text-lg font-bold mb-2">{{ post.title }}</h3>
        <div
          class="text-sm text-slate-500 mb-4 prose prose-sm max-w-full break-all"
          [innerHTML]="post.description"
        ></div>
        <div class="flex items-center justify-between border-t border-slate-100 pt-4">
          <div class="flex items-center gap-2">
            <div
              class="w-8 h-8 rounded-full bg-slate-200 bg-cover"
              style="
                background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuBXiv8qobNQFIxfrTlvmyZj9bmh0YZbIvulHCRD2k8mzoVTZlPDZ_Ysi8gK8kqSZqsWzIOo_TutK-zRFZT26MmMJGWa-8IniBB8i3L5YpFUt1vguZX7GaB-dHIOX-_2BUC0fgq5-EKJmc3yS1-NqsdX1gB4AoqW9Fdnjhj2fK4WnyaNYPkmx83bZ3oBuSVWKmzFFOzT6cPz6H2IjxEMSYoDPZmmL3JMVdmQjHPPRhKboorzbevttMy7TWEhzMm6QiSQv5uwiZv_Y_BA');
              "
            ></div>
            <div class="flex flex-col leading-4">
              <span class="text-xs font-bold">{{ post.createdBy.userName }}</span>
              <span class="text-xs text-slate-500">{{ post.createdAt | date: 'short' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
